<!-- Modal -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Faça sua inscição</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
        <div class="modal-body">
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example" onchange="selecionarIgreja(this.value)" id="igreja">
              <option value="" selected>Selecione a sua igreja</option>
              <option value="0">IBC Teresina</option>
              <option value="1">IBC Timon</option>
              <option value="2">IBC Picos</option>
              <option value="3">IBC Campos sales</option>
              <option value="3">IBC Araripina</option>
              <option value="3">IBC Pio IX</option>
              <option value="3">IBC Caxias</option>
            </select>
          </div>
          <input type="hidden" value="1" id="qtde">
          <input type="hidden" value="1" id="qtde_inteira">
          <input type="hidden" value="0" id="qtde_meia">
          <div class="nomes">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Informe seu nome</label>
              <input type="text" class="form-control" id="nome" nome="nome" placeholder="nome">
            </div>
            <div class="mb-3">
              <label for="sobrenome" class="form-label">Informe seu sobre nome</label>
              <input type="text" class="form-control" id="sobrenome" nome="sobrenome" placeholder="Sobrenome">
            </div>
            <div class="mb-3">
              <label for="isMeia" class="form-label">Tipo</label>
              <select name="isMeia" onchange="handleAddIsMeia(this.value)" id="isMeia" class="form-select">
                <option value="false" selected>Inteira (A partir de 11 anos)</option>
                <option value="true">Meia (7 a 10 anos)</option>
              </select>
            </div>
            <div id="form_afiliados" class="mb-3">

            </div>
          </div>
          <div class="mb-3">
            <label for="total">Total a pagar</label>
            <input type="number" disabled class="form-control" placeholder="Total a pagar" id="total">
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-success disabledButton" onclick="addDependete()">ADD dependente</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary disabledButton" onclick="irparapagamento()" id="buttonPagamento" disabled>Ir para o pagamento</button>
          </div>
      </form>
    </div>
  </div>
</div>