.navbar, .top__bar {
    background-color: black;
}

.titulo__logo {
    display: flex;
}

.deals {
    background-color: black;
    min-height: 400px;
    color: white;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.deals__banner__hero {
    width: 100%;
    max-width: 600px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.deals__titulo_acamp {
    font-size: 8em;
    padding-top: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.banner_titulo {
    display: none;
}

.deals__subtitulo {
    font-size: 1.3em;
}

.deals_info {
    background-color: black;
}
.info__texto__deals {
    padding: 30px auto;
    text-align: center;
    min-height: 50px;
    background-color: white  ;
}
h3 {
    font-size: 1.3rem;
}
.deals__img {
    width: 100px;
    padding: 15px;
}

@media (max-width:640px) { 
    .deals__titulo_acamp {
        font-size: 6em;
    }
    .deals__subtitulo {
        font-size: 0.8em;
    }
    .banner_titulo {
        display: block;
    }
    .banner {
        display: none;
    }
 }

 @media (max-width:350px) { 
    .deals__titulo_acamp {
        font-size: 3em;
     }
    .deals__subtitulo {
        font-size: 0.5em;
     }
    .banner_titulo {
        display: block;
    }
    .banner {
        display: none;
    }
 }

 .table__pulseiras,  .admin__titulo {
    margin-top: 50px;
 }