<%- include("partials/header") %>
<div class="deals">
    <div class="container deals">
        <h1 class="deals__titulo_acamp">ACAMP</h1>
        <H3 class="deals__subtitulo">É PROIBIDO FICAR PARADO!</H3>
    </div>
</div>
<div class="deals_info">
    <div class="container info__deals">
        <div class="row">
            <div class="col-md-4 info__texto__deals info__calendario">
                <a href="/programacao"><img class="deals__img" src="img/icones/agenda.png" alt=""></a>
                <h3>C A L E N D A R I O</h3>
                <P>O Acamp desse ano vai acontecer nos dias 01, 02 e 03 de Dezembro.</P>
            </div>
            <div class="col-md-4 info__texto__deals info__calendario">
                <a href="/informacoes"><img class="deals__img" src="img/icones/informacoes.png" alt=""></a>
                <h3>I N F O R M A Ç Õ E S</h3>
                <P>Veja como foram os ultimos acamps e experimente um pouco do que Deus irá fazer.</P>
            </div>
            <div class="col-md-4 info__texto__deals info__calendario">
                <a href="/inscricoes"><img class="deals__img" src="img/icones/inscricao.png" alt=""></a>
                <h3>I N S C R I Ç Õ E S</h3>
                <P>Garanta sua pulseira! Vagas ilimitadas!.</P>
            </div>
        </div>
    </div>
</div>

<%- include("partials/end/endBody") %>
<%- include("partials/end/endHtml") %>