<%- include("partials/header") %>
<body>    
    <div class="container py-3">   
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">VALORES</h1>
          <p class="fs-5 text-muted">Os valores podem variar de acordo com as disponibilidades das pulseiras.</p>
        </div>
    
      <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3 text-white bg-primary border-primary">
                <h4 class="my-0 fw-normal">1º Lote</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">R$ 140,00<small class="text-muted fw-light"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>L I M I T A D O</li>
                  <li>Inicio: 15 DE AGO DE 2023</li>
                  <li>Fim: 15 DE SET DE 2023</li>
                  <li>DISPONIVEL</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">GARANTA O SEU!</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3 text-white bg-dark border-dark">
                <h4 class="my-0 fw-normal">2º Lote</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">R$ 150,00<small class="text-muted fw-light"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>LIMITADO</li>
                  <li>Inicio: 15 DE SET DE 2023</li>
                  <li>Fim: 15 DE OUT DE 2023</li>
                  <li>INDISPONIVEL</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary disabled">EM BREVE!</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
              <div class="card-header py-3 text-white bg-dark border-dark">
                <h4 class="my-0 fw-normal">3º Lote</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">R$ 160,00<small class="text-muted fw-light"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>LIMITADO</li>
                    <li>Inicio: 15 DE OUT DE 2023</li>
                    <li>Fim: 01 DE DEZ DE 2023</li>
                    <li>INDISPONIVEL</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary disabled">EM BREVE!</button>
              </div>
            </div>
          </div>
        </div>
    
        <h2 class="display-6 text-center mb-4">Compare os planos</h2>
    
        <div class="table-responsive">
          <table class="table text-center">
            <thead>
              <tr>
                <th style="width: 33%;"></th>
                <th style="width: 33%;">Custo</th>
                <th style="width: 33%;">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="text-start">Pecado</th>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg>Infinito</td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg>Pago</td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Fardo da cruz</th>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg>Infinito</td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg>Pago</td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Liberdade</th>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg>Infinito</td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg>Pago</td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Dores</th>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg>Infinito</td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg>Pago</td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Paz</th>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg>Infinito</td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg>Pago</td>
              </tr>
            <tr>
            </tbody>
    
            <tbody>
                <th scope="row" class="text-start">T O T A L</th>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg>Infinito</td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg>Pago</td>
            </tr>
            </tbody>
          </table>
        </div>
      </main>

      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Faça sua inscição</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
            <div class="modal-body">
                <div class="mb-3">
                  <select class="form-select" aria-label="Default select example" onchange="selecionarIgreja(this.value)">
                    <option value="" selected>Selecione a sua igreja</option>
                    <option value="0">IBC Teresina</option>
                    <option value="1">IBC Timon</option>
                    <option value="2">IBC Picos</option>
                    <option value="3">IBC Campos sales</option>
                    <option value="3">IBC Araripina</option>
                    <option value="3">IBC Pio IX</option>
                    <option value="3">IBC Caxias</option>
                  </select>
                </div>
                <input type="hidden" value="3" id="qtde">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Informe seu nome</label>
                  <input type="text" class="form-control" id="nome" nome="nome" placeholder="nome">
                <div class="mb-3">
                  <label for="sobrenome" class="form-label">Informe seu sobre nome</label>
                  <input type="text" class="form-control" id="sobrenome" nome="sobrenome" placeholder="Sobrenome">
                </div>
                <div class="mb-3">
                  <label for="total">Total a pagar</label>
                  <input type="number" disabled class="form-control" placeholder="Total a pagar" id="total">
                </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-primary" onclick="irparaopagamento()" id="buttonPagamento" disabled>Ir para o pagamento</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </body>